<div>
<h2>Follower Users</h2>
<% if @users.any? %>
<table class="table">
<thead>
<tr>
<th>image</th>
<th>name</th>
<th colspan="3"></th>
</tr>
</thead>
<tbody>
<% @users.each do |user| %>
<tr>
  <td>
    <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
  </td>
  <td><%= user.name %></td>
  <td>フォロー数: <%= user.followeds.count %></td>
  <td>フォロワー数: <%= user.followers.count %></td>
  <td><%= link_to "Show", user_path(user.id) %></td>
  <!--<td><= link_to "Edit", edit_book_path(book.id) %></td>-->
  <!--<td><= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure"%></td>-->
</tr>
<% end %>
</tbody>
</table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
</div>